@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    font-family: 'Maitree', sans-serif;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  background-color: #9fe6c3 !important;
}

@layer components{
    .input{
        @apply h-9 w-full bg-transparent border placeholder:text-gray3 border-[#D9D9D9] text-gray-600 text-sm rounded-md focus:ring-0 focus:border-gray4 block p-2.5;
    }

    .textarea{
        @apply bg-transparent placeholder:text-gray3 border border-[#D9D9D9] text-gray-600 text-sm rounded-md focus:ring-primary focus:border-primary block w-full p-2.5;
    }

    .label{
        @apply block mb-2 text-sm font-medium text-gray-600;
    }
    
    
    
}
